.parent-recruiter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 344px;
    width: 100%;
    button {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 326px;
        padding: 0 19px;
    }
}
