@import "../../assets/scss/variables";
.parent-home {
  align-content: center;
  align-items: center;
  background: $white;
  border-radius: 0.938rem;
  border: none;
  box-shadow:0 0.063rem 1.25rem 0.625rem #4e2789;
  display: grid;
  justify-items: center;
  margin: 3rem auto;
  padding: 2rem;
  h1 {
    color: $black;
    font-weight: 900;
  }
  button {
    svg {
      margin: 0 0.313rem 0 0.625rem;
    }
  }
  .create-applicant-from-home {
    display: grid;
    justify-items: stretch;
  }
  .create-company-from-home {
    display: grid;
    justify-items: stretch;
    max-width: 21.75rem;
    button {
      height: 2.5rem;
    }
  }
}
