@import "../../assets/scss/variables";
.parent-home {
  display: grid;
  background: #ffff;
  border-radius: 15px;
  box-shadow: 0px 1px 20px 10px #4e2789;
  padding: 32px;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: none;
  h1 {
    color: $black;
    font-weight: 900;
  }
  button {
    svg {
      margin: 0 5px 0 10px;
    }
  }
  .create-applicant-from-home {
    display: grid;
    justify-items: stretch;
  }
  .create-company-from-home {
    display: grid;
    justify-items: stretch;
    max-width: 348px;
    button {
      height: 40px;
    }
  }
}
