@import '../../assets/scss/variables';

.overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
.modal-container {
    background-color: $white;
    border-radius: 0.313rem;
    box-shadow: rgba(100, 100, 111, 0.2)0 7px 29px0;
    min-height: 6.25rem;
    padding: 1.25rem;
    position: relative;
    width: 80vw;
    &.sm {
        width: 50vw;
    }
    #icon-play-x {
        color: $color-purple;
        height: 1.25rem;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        width: 1.25rem;
        &:hover {
            color: $color-purple;
        }
    }
}
.modal-header {
    align-items: center;
    border-bottom:0.063rem solid $color-purple-light;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    padding-bottom: 0.625rem;
    h3 {
        color: $color-purple;
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0;
    }
}
