@import "../../assets/scss/variables";

.form-create-company {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  .error-message{
    color: red;
    margin: 2px 0;
  }
  input {
    @include box-shadow;
    background: $white;
    border-radius: 0.313rem;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    margin: 0.625rem 0;
    padding: 0 0.5rem;
  }
  textarea {
    @include box-shadow;
    background: $white;
    border-radius: 0.313rem;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    height: 4.563rem;
    margin: 0.625rem 0;
    padding: 0.5rem;
  }
}
