@import "../../assets/scss/variables";

.form-create-aplicant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  input, select {
    background: $white;
    border-radius: 0.313rem;
    border: none;
    box-shadow: 0 0.063rem 0.75rem 0 #e2d6f4;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    margin: 1rem 1rem;
    min-width: 18.75rem;
    padding: 0 0.5rem;
  }
}
button {
  &.button-applicant {
    display: block;
    margin: 1rem auto;
    width: 30vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.container-pill {
  display: flex;
}

.container-pills-education,
.container-pills-skills {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  width: 20rem;
  span {
    &.hide {
      display: none;
    }
  }
}
.container-pills-education {
  margin: 0 5rem;
}
.container-pills-skills {
  right: -70%;
}

.pill-skill {
  align-items: center;
  background: $color-purple-light;
  border-radius: 2rem;
  display: flex;
  font-size: 0.9rem;
  height: 2rem;
  justify-content: space-around;
  margin: 0.2rem;
  padding: 0 1rem;
  width: fit-content;
  #icon-x {
    color: $color_purple;
    height: 0.938rem;
    padding-left: 0.5rem;
    position: relative;
    width: 0.938rem;
    &:hover {
      color: $color_purple;
    }
  }
}
