@import "../../assets/scss/variables";

.parent-job-offer {
  .error-message{
    color: red;
    margin: 2px 0;
  }
  label {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 0.625rem;
  }
  .checkbox-state {
    box-shadow: none;
    height: auto;
    padding: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    input,
    select {
      background: $white;
      border-radius: 0.313rem;
      border: none;
      @include box-shadow;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      height: 2.5rem;
      margin: 0.5rem 0;
      padding: 0 0.313rem;
    }
    button {
      margin: 1.25rem 0 0 0;
    }
  }
}
